{% extends 'base.html' %}   <!--Extends base.html File-->
{% load static %}   <!--load static so that we can use static folder files-->
    {% block css %}     
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    {% endblock %}
    {% block body %}    <!--body block which replaces in base.html body-->
<body>

    <!--Display messages to user-->
    {% for msg in messages %}
        {{ msg }}
    {% endfor %}

    <form method="POST" name="myForm" class="post-form" action="/home/login/" onsubmit="return validateForm()">
        {% csrf_token %}    <!--add csrf_token because of POST method-->
        <div class="container">
            <br>
            <div class="row">
                <label class="label"></label>
                <div class="col">
                    <h3>Login Page</h3>
                </div>
            </div>
            <div class="row">
                <div class="col" id="username">
                    Username:<input type="text" class="data" name="username" id="id_username" 
                     maxlength="15"/>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="password">
                    Password:<input type="password" class="data" name="password" id="id_password" 
                     maxlength="15"/>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <label class="label"></label>
                <div class="col">
                    <button type="submit" class="btn">Login</a></button>
                </div>
            </div>
        </div>
    </form>
    <script src="{% static 'js/loginvalidate.js' %}"></script>
    
</body>
</html>
{% endblock %}      <!--End of a body block-->