{% extends 'base.html' %}   <!--Extends base.html File-->
{% load static %}   <!--load static so that we can use static folder files-->
{% block body %}     <!--body block which replaces in base.html body-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <!--add CSS file with the help of static-->
    <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
    <!-- <script defer src="{% static 'js/form.js' %}"></script> -->
</head>
<body>

    <!--Display messages to user-->
    {% for msg in messages %}
    <strong> {{ msg }}</strong>
    {% endfor %}
    <form method="POST" name="myform" id="form" class="post-form" action="/home/registration/">
        {% csrf_token %}        <!--add csrf_token because of POST method-->
        <div class="container">
            <br>
            <div class="row">
                <label class="label"></label>
                <div class="col">
                    <h3>Registration Page</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    firstname:<input id="firstname" type="text" class="data" name="firstname" maxlength="20"
                    value={{details.firstname}}>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    lastname:<input type="text" class="data" name="lastname" id="id_lname" maxlength="100"
                        value={{details.lastname}}>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    email:<input type="text" class="data" name="email" id="id_email" maxlength="254"
                        value={{details.email}}>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Username:<input type="text" class="data" name="username" id="id_username" maxlength="15"
                        value={{details.username}}>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Password:<input type="password" class="data" name="password" id="id_password" maxlength="100"
                        value={{details.password}}>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Confirm Password:<input type="password" class="data" name="confirm_password" id="id_confirmpassword"
                        maxlength="15" value={{details.confirm_password}}>
                    <div class="error"></div>
                </div>
            </div>
            <div class="row">
                <label class="label"></label>
                <div class="col">
                    <button type="submit" class="btn" id="submit">Register</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>
{% endblock %}      <!--End of a body block-->